body {
    background-color: #4CAF50;
    background-color: aliceblue;
}
#menu {
    margin: 0;
    padding: 0;
}
#menu ul {
    list-style-type: none;
    text-align: center;
    background-color: saddlebrown;
}
#menu ul li {
    display: inline-table;
    color: white;
    height: 40px;
    line-height: 40px;
    width: 120px;
    position: relative;
}
#menu ul li:hover {
    background-color: #f1f1f1;
}
#menu ul li > ul.sub-menu {
    display: none;
    position: absolute;
}
#menu ul li:hover ul.sub-menu {
    display: block;
}